# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
url = 'https://github.com/trending/developers'

In [3]:
#your code
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system">\n  <head>\n    <meta charset="utf-8">\n  <link rel="dns-prefetch" href="https://github.githubassets.com">\n  <link rel="dns-prefetch" href="https://avatars.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">\n  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">\n  <link rel="preconnect" href="https://github.githubassets.com" crossorigin>\n  <link rel="preconnect" href="https://avatars.githubusercontent.com">\n\n\n\n  <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/light-719f1193e0c0.css" /><link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/dark-0c343b529849.css" /><link data-color-theme="dark_dimmed" crossorigin="anonymous" media="all" rel="stylesheet" data-href="https://github.gith'

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [4]:
#your code
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [5]:
tabla = soup.find_all('article', class_='Box-row d-flex')

In [6]:
tabla[0].find_all('a')[2].text.strip()

'Emil Ernerfeldt'

In [7]:
tabla[0].find_all('a')[3].text.strip()

'emilk'

In [8]:
lista = []
for x in range(len(tabla)):
    lista.append(tabla[x].find_all('a')[2].text.strip() + ' (' + tabla[x].find_all('a')[3].text.strip() + ')')

In [9]:
lista

['Emil Ernerfeldt (emilk)',
 'Earle F. Philhower, III (earlephilhower)',
 'Nikita Sobolev (sobolevn)',
 'Stephen Celis (stephencelis)',
 'Justin Fagnani (justinfagnani)',
 'Manu MA (manucorporat)',
 'Joshua (minimalsm)',
 'Simon H (dummdidumm)',
 'Marcus Olsson (marcusolsson)',
 'Ben V. Brown (Ralim)',
 'Jonny Borges (jonataslaw)',
 'Andrew Kane (ankane)',
 'Wangchong Zhou (fffonion)',
 'Mislav Marohnić (mislav)',
 'Matthias Fey (rusty1s)',
 'Elliana May (Mause)',
 'Romain Beaumont (rom1504)',
 'Hari Sekhon (HariSekhon)',
 'osy (Jitterbug)',
 'Adam Johnson (adamchainz)',
 'Pedro Cuenca (pcuenca)',
 'Alex Gaynor (alex)',
 'Henrik Rydgård (hrydgard)',
 'Joshua Levy (jlevy)',
 'Mu Li (mli)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [10]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [11]:
#your code
html=req.get(url).text

html[:1000]

'\n\n<!DOCTYPE html>\n<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system">\n  <head>\n    <meta charset="utf-8">\n  <link rel="dns-prefetch" href="https://github.githubassets.com">\n  <link rel="dns-prefetch" href="https://avatars.githubusercontent.com">\n  <link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">\n  <link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">\n  <link rel="preconnect" href="https://github.githubassets.com" crossorigin>\n  <link rel="preconnect" href="https://avatars.githubusercontent.com">\n\n\n\n  <link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/light-719f1193e0c0.css" /><link crossorigin="anonymous" media="all" rel="stylesheet" href="https://github.githubassets.com/assets/dark-0c343b529849.css" /><link data-color-theme="dark_dimmed" crossorigin="anonymous" media="all" rel="stylesheet" data-href="https://github.gith'

In [12]:
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [13]:
tabla = soup.find_all('article', class_='Box-row')

In [14]:
len(soup.find_all('article', class_='Box-row'))

25

In [15]:
tabla[1].find_all('a')[1]

<a data-hydro-click='{"event_type":"explore.click","payload":{"click_context":"TRENDING_REPOSITORIES_PAGE","click_target":"REPOSITORY","click_visual_representation":"REPOSITORY_NAME_HEADING","actor_id":null,"record_id":54346799,"originating_url":"https://github.com/trending/python?since=daily","user_id":null}}' data-hydro-click-hmac="b17f74c36645c83bc024c473a2da97ed79d54a978b739760186fb995b3f5e647" data-view-component="true" href="/public-apis/public-apis">
<svg aria-hidden="true" class="octicon octicon-repo mr-1 color-fg-muted" data-view-component="true" height="16" version="1.1" viewbox="0 0 16 16" width="16">
<path d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z" fill-rule="evenodd"></path>
</svg>
<span class="text-normal" data-view-component="true">
        public-apis /
</span>
      public-apis
</a>

In [16]:
filas = tabla[0].find_all('a')[2].text.strip().split('\n')

In [17]:
filas = ''.join(filas).split(' ')

In [18]:
final=[]
nom = ''
for f in filas:
        
    if f!='':
    
        final.append(f)
    
nom.join(final)

'bregman-arie/devops-exercises'

In [19]:
lista = []
for x in range(len(tabla)):
    #for x in range()
    filas = tabla[x].find_all('a')[1].text.strip().split('\n')
    filas = ''.join(filas).split(' ')
    final=[]
    nom = ''
    for f in filas:

        if f!='':

            final.append(f)

    if nom.join(final) == 'Star':
        filas = tabla[x].find_all('a')[2].text.strip().split('\n')
        filas = ''.join(filas).split(' ')
        final=[]
        nom = ''
        for f in filas:

            if f!='':

                final.append(f)
        
    lista.append(nom.join(final))
lista

['bregman-arie/devops-exercises',
 'public-apis/public-apis',
 'geohot/tinygrad',
 'mlflow/mlflow',
 'PaddlePaddle/PaddleDetection',
 'google/jax',
 'iterativv/NostalgiaForInfinity',
 'netbox-community/netbox',
 'tiangolo/typer',
 'streamlit/streamlit',
 'modelscope/modelscope',
 'LetusDevops/LearnPython',
 'nerfstudio-project/nerfstudio',
 'idanya/algo-trader',
 'heartexlabs/labelImg',
 'microsoft/pyright',
 'sqlmapproject/sqlmap',
 'unifyai/ivy',
 'crytic/slither',
 'ultralytics/yolov5',
 'home-assistant/core',
 'WeAreMahsaAmini/FreeInternet',
 'open-mmlab/mmocr',
 'Lightning-AI/lightning',
 'demisto/content']

#### Display all the image links from Walt Disney wikipedia page

In [20]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [21]:
#your code
html=req.get(url).text

html[:1000]

'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>Walt Disney - Wikipedia</title>\n<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"27510d24-36ca-409f-8af8-0f28538e9f2b","wgCSPNonce":false,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"Walt_Disney","wgTitle":"Walt Disney","wgCurRevisionId":1120584732,"wgRevisionId":1120584732,"wgArticleId":32917,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Pages containing links to subscription-only content","CS1 maint: bot: original URL status unknown","Articles with short description","Short description matches W'

In [22]:
soup=bs(html, 'html.parser')

type(soup)

bs4.BeautifulSoup

In [23]:
tabla = soup.find_all('a', class_='image')

In [24]:
tabla[0].find_all('img')[0]['src']

'//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG'

In [25]:
lista = []
for x in range(len(tabla)):
    lista.append(tabla[x].find_all('img')[0]['src'])
lista

['//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 '//upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 '//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 '//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 '//upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [26]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [27]:
#your code
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [28]:
tabla = soup.find_all('div', class_='mw-parser-output')[0].find_all('a')

In [29]:
tabla[1]['href']

'https://en.wiktionary.org/wiki/python'

In [30]:
lista = []
for x in range(len(tabla)):
    if 'https' in tabla[x]['href']:
        lista.append(tabla[x]['href'])
    else:
        lista.append('https://en.wiktionary.org' + tabla[x]['href'])
lista

['https://en.wiktionary.org/wiki/Python',
 'https://en.wiktionary.org/wiki/python',
 'https://en.wiktionary.org#Snakes',
 'https://en.wiktionary.org#Computing',
 'https://en.wiktionary.org#People',
 'https://en.wiktionary.org#Roller_coasters',
 'https://en.wiktionary.org#Vehicles',
 'https://en.wiktionary.org#Weaponry',
 'https://en.wiktionary.org#Other_uses',
 'https://en.wiktionary.org#See_also',
 'https://en.wiktionary.org/w/index.php?title=Python&action=edit&section=1',
 'https://en.wiktionary.org/wiki/Pythonidae',
 'https://en.wiktionary.org/wiki/Python_(genus)',
 'https://en.wiktionary.org/wiki/Python_(mythology)',
 'https://en.wiktionary.org/w/index.php?title=Python&action=edit&section=2',
 'https://en.wiktionary.org/wiki/Python_(programming_language)',
 'https://en.wiktionary.org/wiki/CMU_Common_Lisp',
 'https://en.wiktionary.org/wiki/PERQ#PERQ_3',
 'https://en.wiktionary.org/w/index.php?title=Python&action=edit&section=3',
 'https://en.wiktionary.org/wiki/Python_of_Aenus',
 'https://en.wiktionary.org/wiki/Python_(painter)',
 'https://en.wiktionary.org/wiki/Python_of_Byzantium',
 'https://en.wiktionary.org/wiki/Python_of_Catana',
 'https://en.wiktionary.org/wiki/Python_Anghelo',
 'https://en.wiktionary.org/w/index.php?title=Python&action=edit&section=4',
 'https://en.wiktionary.org/wiki/Python_(Efteling)',
 'https://en.wiktionary.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wiktionary.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wiktionary.org/w/index.php?title=Python&action=edit&section=5',
 'https://en.wiktionary.org/wiki/Python_(automobile_maker)',
 'https://en.wiktionary.org/wiki/Python_(Ford_prototype)',
 'https://en.wiktionary.org/w/index.php?title=Python&action=edit&section=6',
 'https://en.wiktionary.org/wiki/Python_(missile)',
 'https://en.wiktionary.org/wiki/Python_(nuclear_primary)',
 'https://en.wiktionary.org/wiki/Colt_Python',
 'https://en.wiktionary.org/w/index.php?title=Python&action=edit&section=7',
 'https://en.wiktionary.org/wiki/Python_(codename)',
 'https://en.wiktionary.org/wiki/Python_(film)',
 'https://en.wiktionary.org/wiki/Monty_Python',
 'https://en.wiktionary.org/wiki/Python_(Monty)_Pictures',
 'https://en.wiktionary.org/wiki/Timon_of_Phlius',
 'https://en.wiktionary.org/w/index.php?title=Python&action=edit&section=8',
 'https://en.wiktionary.org/wiki/Cython',
 'https://en.wiktionary.org/wiki/Pyton',
 'https://en.wiktionary.org/wiki/Pithon',
 'https://en.wiktionary.org/wiki/File:Disambig_gray.svg',
 'https://en.wiktionary.org/wiki/Help:Disambiguation',
 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0']

#### Number of Titles that have changed in the United States Code since its last release point

In [31]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [32]:
#your code
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [33]:
tabla = soup.find_all('div', class_='uscitemlist')[0].find_all('div', class_='usctitlechanged')

In [34]:
tabla[0].text.strip()

'Title 17 - Copyrights ٭'

In [35]:
lista = []
for x in range(len(tabla)):
    lista.append(tabla[x].text.strip())
lista

['Title 17 - Copyrights ٭',
 'Title 22 - Foreign Relations and Intercourse',
 "Title 38 - Veterans' Benefits ٭",
 'Title 40 - Public Buildings, Property, and Works ٭',
 'Title 41 - Public Contracts ٭',
 'Title 42 - The Public Health and Welfare',
 'Title 44 - Public Printing and Documents ٭',
 'Title 49 - Transportation ٭',
 'Title 54 - National Park Service and Related Programs ٭']

#### A Python list with the top ten FBI's Most Wanted names

In [36]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [37]:
#your code 
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [38]:
tabla = soup.find_all('h3', class_='title')

In [39]:
lista = []
for x in range(len(tabla)):
    lista.append(tabla[x].text.strip())
lista

['OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [93]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [94]:
#your code
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [96]:
tabla = soup.find_all('tbody', id = 'tbody')

In [101]:
tabla[0]('tr')[0]('td')[3]('a')[0].text.replace('\xa0', ' ').replace('   ', ' ')

'2022-11-08 22:05:13.0'

In [102]:
tabla[0]('tr')[0]('td')[4].text.strip()

'22.32'

In [103]:
tabla[0]('tr')[0]('td')[6].text.strip()

'68.92'

In [104]:
tabla[0]('tr')[0]('td')[11].text.strip()

'ANTOFAGASTA, CHILE'

In [106]:
lista = []
for i in range(20):
    
    date_time = (tabla[0]('tr')[i]('td')[3]('a')[0].text.replace('\xa0', ' ').replace('   ', ' '))
    latitude = (tabla[0]('tr')[i]('td')[4].text.strip())
    longitude = (tabla[0]('tr')[i]('td')[6].text.strip())
    region_name = (tabla[0]('tr')[i]('td')[11].text.strip())
    
    lista.append({'date_time': date_time,
                   'latitude': latitude,
                   'longitude': longitude,
                   'region': region_name})


df = pd.DataFrame(lista)

In [107]:
df

                date_time latitude longitude                            region
0   2022-11-08 22:05:13.0    22.32     68.92                ANTOFAGASTA, CHILE
1   2022-11-08 21:50:29.6    57.75    157.39                  ALASKA PENINSULA
2   2022-11-08 21:45:22.0    29.28     81.07                             NEPAL
3   2022-11-08 21:22:38.0     0.09    126.69                       MOLUCCA SEA
4   2022-11-08 20:56:42.0    32.38    142.47         IZU ISLANDS, JAPAN REGION
5   2022-11-08 20:51:43.7    18.90     64.30             VIRGIN ISLANDS REGION
6   2022-11-08 20:51:07.0     0.27    124.95                       MOLUCCA SEA
7   2022-11-08 20:40:47.0     6.48    125.16             MINDANAO, PHILIPPINES
8   2022-11-08 20:27:23.0    29.36     81.20                             NEPAL
9   2022-11-08 20:18:35.3    19.45    155.59          ISLAND OF HAWAII, HAWAII
10  2022-11-08 20:16:30.1    31.68    104.44                     WESTERN TEXAS
11  2022-11-08 20:08:00.0    11.12    117.79       SOUTH OF SUMBAWA, INDONESIA
12  2022-11-08 20:01:28.0     9.24    119.62           SUMBA REGION, INDONESIA
13  2022-11-08 19:55:58.0    15.87     97.65           OFFSHORE OAXACA, MEXICO
14  2022-11-08 19:54:31.0    22.79     68.84                ANTOFAGASTA, CHILE
15  2022-11-08 19:41:29.7    38.38     15.38                     SICILY, ITALY
16  2022-11-08 19:36:59.0     0.06    124.45                       MOLUCCA SEA
17  2022-11-08 19:32:59.0     2.14    141.00  NEAR N COAST OF NEW GUINEA, PNG.
18  2022-11-08 19:21:43.4    19.45    155.60          ISLAND OF HAWAII, HAWAII
19  2022-11-08 19:21:29.6    33.92    116.71               SOUTHERN CALIFORNIA

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [42]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
import tweepy
url = 'https://twitter.com/IkerCasillas'

In [43]:
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [44]:
soup.find_all('div', class_='css-901oao')

[<div class="css-901oao r-1qd0xha r-a023e6 r-16dba41 r-rjixqe r-bcqeeo r-qvutc0" dir="auto" style="color:rgba(15,20,25,1.00)"><span class="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0">Something went wrong, but don’t fret — let’s give it another shot.</span></div>]

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [45]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [46]:
#your code
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [49]:
tabla = soup.find_all('div',class_='central-featured')[0].find_all('strong')

[]

In [ ]:
tabla

In [ ]:
tabla2 = soup.find_all('div',class_='central-featured')[0].find_all('small')

In [ ]:
tabla2[0].text

In [ ]:
lista = []
for x in range(len(tabla)):
    lista.append(tabla[x].text + ' - ' + tabla2[x].text)
lista

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [50]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [51]:
#your code
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [52]:
tabla = soup.find_all('div',class_='central-featured')[0].find_all('strong')

In [53]:
tabla

[<strong>English</strong>,
 <strong>æ¥æ¬èª</strong>,
 <strong>EspaÃ±ol</strong>,
 <strong>Ð ÑÑÑÐºÐ¸Ð¹</strong>,
 <strong>FranÃ§ais</strong>,
 <strong>Deutsch</strong>,
 <strong>Italiano</strong>,
 <strong>ä¸­æ</strong>,
 <strong>PortuguÃªs</strong>,
 <strong><bdi dir="rtl">Ø§ÙØ¹Ø±Ø¨ÙØ©</bdi></strong>]

In [54]:
tabla2 = soup.find_all('div',class_='central-featured')[0].find_all('small')

In [56]:
lista = []
for x in range(len(tabla)):
    lista.append(tabla[x].text.replace('\xa0', '') + ' - ' + tabla2[x].text.replace('\xa0', ''))
lista

['English - 6458000+ articles',
 'æ\x97¥æ\x9c¬èª\x9e - 1314000+ è¨\x98äº\x8b',
 'EspaÃ±ol - 1755000+ artÃ\xadculos',
 'ÐÑ\x83Ñ\x81Ñ\x81ÐºÐ¸Ð¹ - 1798000+ Ñ\x81Ñ\x82Ð°Ñ\x82ÐµÐ¹',
 'FranÃ§ais - 2400000+ articles',
 'Deutsch - 2667000+ Artikel',
 'Italiano - 1742000+ voci',
 'ä¸\xadæ\x96\x87 - 1256000+ æ\x9d¡ç\x9b® / æ¢\x9dç\x9b®',
 'PortuguÃªs - 1085000+ artigos',
 'Ø§Ù\x84Ø¹Ø±Ø¨Ù\x8aØ© - 1159000+ Ù\x85Ù\x82Ø§Ù\x84Ø©']

#### A list with the different kind of datasets available in data.gov.uk

In [57]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [58]:
#your code 
#your code
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [59]:
tabla = soup.find_all('a', class_='govuk-link')

In [65]:
tabla[4].text

'Business and economy'

In [64]:
lst = []
for i in range(4, len(tabla)):
    lst.append(tabla[i].text)
lst

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [72]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [73]:
#your code
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [83]:
tabla = soup.find_all('table')[0]

In [85]:
tabla.find_all('tr')[0].text.split('\n')

['',
 'Language',
 '',
 'Native speakers(millions)',
 '',
 'Language family',
 '',
 'Branch',
 '']

In [86]:
filas=tabla.find_all('tr')

filas=[f.text.strip().split('\n') for f in filas]

filas[:5]

[['Language',
  '',
  'Native speakers(millions)',
  '',
  'Language family',
  '',
  'Branch'],
 ['Mandarin Chinese(incl. Standard Chinese, but excl. other varieties)',
  '',
  '920',
  '',
  'Sino-Tibetan',
  '',
  'Sinitic'],
 ['Spanish', '', '475', '', 'Indo-European', '', 'Romance'],
 ['English', '', '373', '', 'Indo-European', '', 'Germanic'],
 ['Hindi(excl. Urdu)', '', '344', '', 'Indo-European', '', 'Indo-Aryan']]

In [87]:
filas=[[palabra for palabra in f if palabra!=''] for f in filas]

filas[:5]

[['Language', 'Native speakers(millions)', 'Language family', 'Branch'],
 ['Mandarin Chinese(incl. Standard Chinese, but excl. other varieties)',
  '920',
  'Sino-Tibetan',
  'Sinitic'],
 ['Spanish', '475', 'Indo-European', 'Romance'],
 ['English', '373', 'Indo-European', 'Germanic'],
 ['Hindi(excl. Urdu)', '344', 'Indo-European', 'Indo-Aryan']]

In [90]:
col_names=filas[0]

data=filas[1:]

df=pd.DataFrame(data, columns=col_names)
df.head()

,Language,Native speakers(millions),Language family,Branch
0,"Mandarin Chinese(incl. Standard Chinese, but e...",920,Sino-Tibetan,Sinitic
1,Spanish,475,Indo-European,Romance
2,English,373,Indo-European,Germanic
3,Hindi(excl. Urdu),344,Indo-European,Indo-Aryan
4,Bengali,234,Indo-European,Indo-Aryan

In [91]:
df.drop(['Language family', 'Branch'], axis=1, inplace = True)

In [92]:
df.head()

                                            Language Native speakers(millions)
0  Mandarin Chinese(incl. Standard Chinese, but e...                       920
1                                            Spanish                       475
2                                            English                       373
3                                  Hindi(excl. Urdu)                       344
4                                            Bengali                       234

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [109]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [110]:
# your code
html=req.get(url).text
html[:1000]
soup=bs(html, 'html.parser')
type(soup)

bs4.BeautifulSoup

In [112]:
tabla = soup.find_all('tbody', class_ = 'lister-list')

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code