# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [2]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [4]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [5]:
#your code
html = requests.get(url).content

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [28]:
#your code
soup=bs(html, 'html.parser')

dev = soup.find_all('article', class_= 'Box-row d-flex')

In [42]:
len(dev)

25

In [41]:
dev[0]('a')[2].text.strip()

'Emil Ernerfeldt'

In [45]:
output= []
for i in range(len(dev)):
    name = dev[i]('a')[2].text.strip()
    alias = dev[i]('a')[4].text.strip()
    output.append(name + ' ' + '(' + alias + ')' )

In [46]:
output

['Emil Ernerfeldt (egui)',
 'Earle F. Philhower, III (arduino-pico)',
 'Nikita Sobolev (awesome-cryptography)',
 'Stephen Celis (SQLite.swift)',
 'Justin Fagnani (mixwith.js)',
 'Manu MA (qwik-conference-app)',
 'Joshua (Follow)',
 'Simon H (Follow)',
 'Marcus Olsson (obsidian-projects)',
 'Ben V. Brown (IronOS)',
 'Jonny Borges (getx)',
 'Andrew Kane (the-ultimate-guide-to-ruby-timeouts)',
 'Wangchong Zhou (xeHentai)',
 'Mislav Marohnić (will_paginate)',
 'Matthias Fey (pytorch_scatter)',
 'Elliana May (duckdb-extension-framework)',
 'Romain Beaumont (img2dataset)',
 'Hari Sekhon (DevOps-Bash-tools)',
 'osy (Follow)',
 'Adam Johnson (django-upgrade)',
 'Pedro Cuenca (alzheimer)',
 'Alex Gaynor (what-happens-when)',
 'Henrik Rydgård (ppsspp)',
 'Joshua Levy (the-art-of-command-line)',
 'Mu Li (autocut)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [48]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [49]:
#your code
html = requests.get(url).content
soup=bs(html, 'html.parser')

In [50]:
text = soup.find_all('article', class_= 'Box-row')

In [62]:
text[0]('a')[2].text.strip().replace("\n","").replace("/","").replace("       ","/")

'bregman-arie/devops-exercises'

In [81]:
text[0]('a')[1].text.strip().replace("\n","").replace("/","").replace("       ","/")

'Star'

In [82]:
lst = []
for i in range(len(text)):
    if text[i]('a')[1].text.strip().replace("\n","").replace("/","").replace("       ","/") == 'Star':
        lst.append(text[i]('a')[2].text.strip().replace("\n","").replace("/","").replace("       ","/"))
    else :
        lst.append(text[i]('a')[1].text.strip().replace("\n","").replace("/","").replace("       ","/"))

In [83]:
lst

['bregman-arie/devops-exercises',
 'public-apis/public-apis',
 'geohot/tinygrad',
 'mlflow/mlflow',
 'PaddlePaddle/PaddleDetection',
 'google/jax',
 'iterativv/NostalgiaForInfinity',
 'netbox-community/netbox',
 'tiangolo/typer',
 'streamlit/streamlit',
 'modelscope/modelscope',
 'LetusDevops/LearnPython',
 'nerfstudio-project/nerfstudio',
 'idanya/algo-trader',
 'heartexlabs/labelImg',
 'microsoft/pyright',
 'sqlmapproject/sqlmap',
 'unifyai/ivy',
 'crytic/slither',
 'ultralytics/yolov5',
 'home-assistant/core',
 'WeAreMahsaAmini/FreeInternet',
 'open-mmlab/mmocr',
 'Lightning-AI/lightning',
 'demisto/content']

#### Display all the image links from Walt Disney wikipedia page

In [85]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [86]:
#your code
html = requests.get(url).content
soup=bs(html, 'html.parser')

In [89]:
ima= soup.find_all('img')

In [101]:
ima[2]["src"]

'//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG'

In [104]:
lst = []
for i in range(2,len(ima)):
    lst.append(ima[i]["src"])

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [285]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [286]:
#your code
url = 'https://en.wikipedia.org/wiki/Python_(mythology)'

In [287]:
html = requests.get(url).content
soup=bs(html, 'html.parser')

In [288]:
soup.find_all('a')[3]["href"]

'/wiki/Pythia'

In [289]:
table = soup.find_all('a')

In [290]:
table[3]["href"]

'/wiki/Pythia'

In [291]:
len(table)

286

In [292]:
lst= []
for i in range(len(table)):
    try :
    
        if "wiki" in table[i]["href"]:
            lst.append(table[i]["href"])
    except:
        None
lst

['/wiki/Pythia',
 '/wiki/Python_(disambiguation)',
 '/wiki/File:Apollo_dan_Pithon.jpg',
 '/wiki/File:Apollo_dan_Pithon.jpg',
 '/wiki/Apollo',
 '/wiki/Virgil_Solis',
 '/wiki/Ovid',
 '/wiki/Metamorphoses',
 '/wiki/Greek_mythology',
 '/wiki/Greek_language',
 '/wiki/Genitive_case',
 '/wiki/Serpent_(symbolism)',
 '/wiki/Medieval',
 '/wiki/Dragon',
 '/wiki/Earth',
 '/wiki/Delphi',
 '/wiki/Pythia',
 '/wiki/Gaia_(mythology)',
 '/wiki/Axis_mundi#Places',
 '/wiki/Omphalos',
 '/wiki/Chthonic',
 '/wiki/Apollo',
 '/wiki/File:Pietro_Francavilla_-_Apollo_Victorious_over_the_Python_-_Walters_27302.jpg',
 '/wiki/File:Pietro_Francavilla_-_Apollo_Victorious_over_the_Python_-_Walters_27302.jpg',
 '/wiki/Homeric_Hymn',
 '/wiki/Drakaina_(mythology)',
 '/wiki/Gaius_Julius_Hyginus',
 '/wiki/Zeus',
 '/wiki/Leto',
 '/wiki/Artemis',
 '/wiki/Hera',
 '/wiki/Mount_Parnassus',
 '/wiki/Robert_Graves',
 '/wiki/Greeks',
 '/wiki/Clearchus_of_Soli',
 '/wiki/Sacrilege',
 '/wiki/Pythian_Games',
 '/wiki/Erwin_Rohde',
 '/wiki/Delphi',
 '/wiki/Hyperion_(mythology)',
 '/wiki/Helios',
 '/wiki/Karl_Kerenyi',
 '/wiki/Delphyne',
 '/wiki/Typhon',
 '/wiki/Titanomachy',
 '/wiki/Daemon_(classical_mythology)',
 '/wiki/Minoan_civilization',
 '/wiki/Python_(genus)',
 '/wiki/Pythonidae',
 '/wiki/File:Barcelona_221.JPG',
 '/wiki/File:Barcelona_221.JPG',
 '/wiki/Apollo_Belvedere',
 '/wiki/Dragons_in_Greek_mythology',
 '/wiki/Pythia',
 '/wiki/Serpent_(symbolism)',
 '/wiki/Saint_George_and_the_Dragon',
 '/wiki/Analogy_of_the_sun',
 '/wiki/Yamata_no_Orochi',
 '/wiki/Telphousa',
 '/wiki/Parnassus',
 '/wiki/Dodona',
 '/wiki/The_Walters_Art_Museum',
 '/wiki/Walter_Burkert',
 '/wiki/A_Greek%E2%80%93English_Lexicon',
 '/wiki/A_Greek%E2%80%93English_Lexicon',
 '/wiki/Henry_Liddell',
 '/wiki/Robert_Scott_(philologist)',
 '/wiki/Athena',
 '/wiki/Hittites',
 '/wiki/Illuyankas',
 '/wiki/Leviathan',
 'https://en.wikisource.org/wiki/The_Encyclopedia_Americana_(1920)/Python_(mythology)',
 '/wiki/Encyclopedia_Americana',
 'https://commons.wikimedia.org/wiki/Category:Python_(mythology)',
 '/wiki/Wikisource',
 '/wiki/Encyclop%C3%A6dia_Britannica_Eleventh_Edition',
 'https://en.wikisource.org/wiki/1911_Encyclop%C3%A6dia_Britannica/Python_(mythology)',
 '/wiki/Walter_Burkert',
 '/wiki/Joseph_Fontenrose',
 '/wiki/Manly_Palmer_Hall',
 '/wiki/Jane_Ellen_Harrison',
 '/wiki/Karl_Kerenyi',
 '/wiki/Clearchus_of_Soli',
 '/wiki/Routledge',
 '/wiki/ISBN_(identifier)',
 '/wiki/Special:BookSources/978-0-367-70681-4',
 '/wiki/Oxford_University_Press',
 '/wiki/ISBN_(identifier)',
 '/wiki/Special:BookSources/978-0-19-955732-5',
 '/wiki/Erwin_Rohde',
 '/wiki/William_Smith_(lexicographer)',
 '/wiki/Dictionary_of_Greek_and_Roman_Biography_and_Mythology',
 '/wiki/Help:Authority_control',
 'https://www.wikidata.org/wiki/Q15721#identifiers',
 '/wiki/VIAF_(identifier)',
 '/wiki/SUDOC_(identifier)',
 'https://en.wikipedia.org/w/index.php?title=Python_(mythology)&oldid=1113437408',
 '/wiki/Help:Category',
 '/wiki/Category:Greek_dragons',
 '/wiki/Category:World-bearing_animals',
 '/wiki/Category:Children_of_Gaia',
 '/wiki/Category:Deeds_of_Apollo',
 '/wiki/Category:Ancient_Delphi',
 '/wiki/Category:Legendary_serpents',
 '/wiki/Category:Deeds_of_Hera',
 '/wiki/Category:Leto',
 '/wiki/Category:Articles_containing_Ancient_Greek_(to_1453)-language_text',
 '/wiki/Category:Wikipedia_articles_incorporating_a_citation_from_the_Encyclopedia_Americana_with_a_Wikisource_reference',
 '/wiki/Category:Articles_with_short_description',
 '/wiki/Category:Short_description_is_different_from_Wikidata',
 '/wiki/Category:Articles_containing_Greek-language_text',
 '/wiki/Category:Commons_category_link_is_on_Wikidata',
 '/wiki/Category:Articles_with_VIAF_identifiers',
 '/wiki/Category:Articles_with_WORLDCATID_identifiers',
 '/wiki/Category:Articles_with_GND_identifiers',
 '/wiki/Category:Articles_with_SUDOC_identifiers',
 '/wiki/Category:Articles_with_multiple_identifiers',
 '/wiki/Special:MyTalk',
 '/wiki/Special:MyContributions',
 '/wiki/Python_(mythology)',
 '/wiki/Talk:Python_(mythology)',
 '/wiki/Python_(mythology)',
 '/wiki/Main_Page',
 '/wiki/Main_Page',
 '/wiki/Wikipedia:Contents',
 '/wiki/Portal:Current_events',
 '/wiki/Special:Random',
 '/wiki/Wikipedia:About',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 'https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en',
 '/wiki/Help:Contents',
 '/wiki/Help:Introduction',
 '/wiki/Wikipedia:Community_portal',
 '/wiki/Special:RecentChanges',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:WhatLinksHere/Python_(mythology)',
 '/wiki/Special:RecentChangesLinked/Python_(mythology)',
 '/wiki/Wikipedia:File_Upload_Wizard',
 '/wiki/Special:SpecialPages',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q15721',
 'https://commons.wikimedia.org/wiki/Category:Python_(mythology)',
 'https://af.wikipedia.org/wiki/Piton',
 'https://az.wikipedia.org/wiki/Pithon',
 'https://be.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD',
 'https://bg.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BC%D0%B8%D1%82%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%8F)',
 'https://br.wikipedia.org/wiki/Python_(aerouant)',
 'https://ca.wikipedia.org/wiki/Pit%C3%B3_(mitologia)',
 'https://cs.wikipedia.org/wiki/P%C3%BDth%C3%B3n',
 'https://da.wikipedia.org/wiki/Python_(mytologi)',
 'https://de.wikipedia.org/wiki/Python_(Mythologie)',
 'https://et.wikipedia.org/wiki/Python',
 'https://el.wikipedia.org/wiki/%CE%A0%CF%8D%CE%B8%CF%89%CE%BD_(%CE%BC%CF%85%CE%B8%CE%BF%CE%BB%CE%BF%CE%B3%CE%AF%CE%B1)',
 'https://es.wikipedia.org/wiki/Pit%C3%B3n_(mitolog%C3%ADa)',
 'https://eo.wikipedia.org/wiki/Pitono_(mitologio)',
 'https://eu.wikipedia.org/wiki/Piton',
 'https://fa.wikipedia.org/wiki/%D9%BE%D8%A7%DB%8C%D8%AA%D9%88%D9%86_(%D8%A7%D8%B3%D8%B7%D9%88%D8%B1%D9%87)',
 'https://fr.wikipedia.org/wiki/Python_(mythologie)',
 'https://gl.wikipedia.org/wiki/Pit%C3%B3n_(mitolox%C3%ADa)',
 'https://ko.wikipedia.org/wiki/%ED%94%BC%ED%86%A4',
 'https://hr.wikipedia.org/wiki/Piton_(mitologija)',
 'https://id.wikipedia.org/wiki/Pithon_(mitologi)',
 'https://it.wikipedia.org/wiki/Pitone_(mitologia)',
 'https://la.wikipedia.org/wiki/Python_(mythologia)',
 'https://lb.wikipedia.org/wiki/Python_(Mythologie)',
 'https://lt.wikipedia.org/wiki/Pitonas_(mitologija)',
 'https://hu.wikipedia.org/wiki/P%C3%BCth%C3%B3n',
 'https://nl.wikipedia.org/wiki/Python_(mythologie)',
 'https://ja.wikipedia.org/wiki/%E3%83%94%E3%83%A5%E3%83%BC%E3%83%88%E3%83%BC%E3%83%B3',
 'https://no.wikipedia.org/wiki/Python_(mytologi)',
 'https://pl.wikipedia.org/wiki/Pyton_(mitologia)',
 'https://pt.wikipedia.org/wiki/P%C3%ADton_(mitologia)',
 'https://ro.wikipedia.org/wiki/Python_(mitologie)',
 'https://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D1%84%D0%BE%D0%BD',
 'https://sq.wikipedia.org/wiki/Pithoni',
 'https://simple.wikipedia.org/wiki/Python_(mythology)',
 'https://sl.wikipedia.org/wiki/Piton_(mitologija)',
 'https://sr.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D0%BE%D0%BD_(%D0%BC%D0%B8%D1%82%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%98%D0%B0)',
 'https://fi.wikipedia.org/wiki/Python_(hirvi%C3%B6)',
 'https://sv.wikipedia.org/wiki/Python_(mytologi)',
 'https://tr.wikipedia.org/wiki/Pithon',
 'https://uk.wikipedia.org/wiki/%D0%9F%D1%96%D1%84%D0%BE%D0%BD_(%D0%BC%D1%96%D1%84%D0%BE%D0%BB%D0%BE%D0%B3%D1%96%D1%8F)',
 'https://vi.wikipedia.org/wiki/Python_(th%E1%BA%A7n_tho%E1%BA%A1i)',
 'https://zh.wikipedia.org/wiki/%E7%9A%AE%E5%90%8C',
 'https://www.wikidata.org/wiki/Special:EntityPage/Q15721#sitelinks-wikipedia',
 '//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License',
 '//foundation.wikimedia.org/wiki/Terms_of_Use',
 '//foundation.wikimedia.org/wiki/Privacy_policy',
 '//www.wikimediafoundation.org/',
 'https://foundation.wikimedia.org/wiki/Privacy_policy',
 '/wiki/Wikipedia:About',
 '/wiki/Wikipedia:General_disclaimer',
 '//en.wikipedia.org/wiki/Wikipedia:Contact_us',
 '//en.m.wikipedia.org/w/index.php?title=Python_(mythology)&mobileaction=toggle_view_mobile',
 'https://developer.wikimedia.org',
 'https://stats.wikimedia.org/#/en.wikipedia.org',
 'https://foundation.wikimedia.org/wiki/Cookie_statement',
 'https://wikimediafoundation.org/',
 'https://www.mediawiki.org/']

#### Number of Titles that have changed in the United States Code since its last release point

In [148]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [154]:
#your code
html = requests.get(url).content
soup=bs(html, 'html.parser')
soup.find_all('div',class_ = 'usctitlechanged')
table = soup.find_all('div',class_ = 'usctitlechanged')
len(table)

9

#### A Python list with the top ten FBI's Most Wanted names

In [165]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [178]:
#your code 
html = requests.get(url).content
soup=bs(html, 'html.parser')
tabla = soup.find_all('h3', class_ = 'title')
tabla[0]("a")[0].text
lst = []
for i in range (len(tabla)):
    lst.append(tabla[i]("a")[0].text)

['OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [182]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [183]:
#your code
html = requests.get(url).content
soup=bs(html, 'html.parser')

In [186]:
table = soup.find_all("tbody",id = "tbody")

In [249]:
table[0]("tr")[0]("td")[3]("a")[0].text.replace("\xa0"," ").replace("   ","/")

'2022-11-08/15:08:28.5'

In [236]:
table[0]("tr")[0]("td")[4].text.replace("\xa0","") #latitud

'19.54'

In [237]:
table[0]("tr")[0]("td")[6].text.replace("\xa0","")

'156.04'

In [254]:
table[0]("tr")[12]("td")[11].text.replace("\xa0","")

'NEVADA'

In [271]:
lst= []


for i in range(20):
    datetime = table[0]("tr")[i]("td")[3]("a")[0].text.replace("\xa0"," ").replace("   ","/")
    latitude = table[0]("tr")[i]("td")[4].text.replace("\xa0","") #latitud
    longitud = table[0]("tr")[i]("td")[6].text.replace("\xa0","")
    region_name = table[0]("tr")[i]("td")[11].text.replace("\xa0","")
    lst.append({'datetime': datetime,
                         'latitude': latitude,
                         'longitud': longitud,
                         'region_name': region_name})
df =pd.DataFrame(lst)

In [273]:
def limpiar(string):
    try:
        
        return string.split("/")
    except: 
        return [np.nan , np.nan]

In [274]:
lst = []
for e in df.datetime:
    lst.append(limpiar(e))

In [275]:
df[["date","time"]]= lst

In [282]:
import pandas as pd
df.drop(columns = "datetime")

   latitude longitud                      region_name        date        time
0     19.54   156.04            HAWAII REGION, HAWAII  2022-11-08  15:08:28.5
1      2.83   129.77                 SERAM, INDONESIA  2022-11-08  14:50:48.0
2     22.26    68.73               ANTOFAGASTA, CHILE  2022-11-08  14:49:11.0
3     39.16     0.30                            SPAIN  2022-11-08  14:43:44.8
4     52.38   179.40  ANDREANOF ISLANDS, ALEUTIAN IS.  2022-11-08  14:38:45.6
5     15.42   120.83               LUZON, PHILIPPINES  2022-11-08  14:30:02.4
6     35.80    73.28            OFFSHORE MAULE, CHILE  2022-11-08  14:26:07.0
7      8.95    84.19          OFF COAST OF COSTA RICA  2022-11-08  14:24:30.0
8      2.97   122.17              SULAWESI, INDONESIA  2022-11-08  14:20:38.0
9     40.08   119.41                           NEVADA  2022-11-08  13:42:34.5
10    34.76    72.12            OFFSHORE MAULE, CHILE  2022-11-08  13:09:18.0
11    31.05    71.36                  COQUIMBO, CHILE  2022-11-08  13:05:57.0
12    40.17   119.15                           NEVADA  2022-11-08  12:53:04.3
13    19.34   155.21         ISLAND OF HAWAII, HAWAII  2022-11-08  12:26:00.3
14     4.72   101.71      SOUTHERN SUMATRA, INDONESIA  2022-11-08  12:13:59.0
15    29.88    68.41              SAN JUAN, ARGENTINA  2022-11-08  12:05:36.9
16    31.66   104.40                    WESTERN TEXAS  2022-11-08  11:57:11.4
17    12.05    87.75          NEAR COAST OF NICARAGUA  2022-11-08  11:47:14.0
18    24.12    67.55                 SALTA, ARGENTINA  2022-11-08  11:45:08.0
19    19.07    67.74               PUERTO RICO REGION  2022-11-08  11:42:32.9

In [266]:
table[0]("tr")

<tr class="ligne1 normal" id="1186849" onclick="go_details(event,1186849);"><td class="tabev0"></td><td class="tabev0"></td><td class="tabev0"><span class="intensity" onclick="go_details(event,null,'https://www.emsc-csem.org/Earthquake/popup_intensmap.php?id=1186849&amp;f=/FELTREPORTS/118/1186849/IntensityMap.png');" onmouseout="info_b2('notshow','');" onmouseover="info_b2('show','See the &lt;b&gt; Intensity map&lt;/b&gt;');" style="background-color:#FFFFFF;">F</span></td><td class="tabev6"><b><i style="display:none;">earthquake</i><a href="/Earthquake/earthquake.php?id=1186849">2022-11-08   15:08:28.5</a></b><i class="ago" id="ago0">08min ago</i></td><td class="tabev1">19.54 </td><td class="tabev2">N  </td><td class="tabev1">156.04 </td><td class="tabev2">W  </td><td class="tabev3">3</td><td class="tabev5" id="magtyp0">Md</td><td class="tabev2">2.5</td><td class="tb_region" id="reg0"> HAWAII REGION, HAWAII</td><td class="comment updatetimeno" id="upd0" style="text-align:right;">2022-11-08 15:11</td></tr>

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
#your code

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [296]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [297]:
#your code
html = requests.get(url).content
soup=bs(html, 'html.parser')

In [299]:
table = soup.find_all('a',class_ = "link-box")

In [306]:
table[0].text.split()[0]

'English'

In [314]:
table[0]("small")[0].text.replace("\xa0","")

'6458000+ articles'

In [318]:
lst = []
for i in range(len(table)):
    language = table[i].text.split()[0]
    amount = table[i]("small")[0].text.replace("\xa0","")
    lst.append({'language': language,
                         'number of articles': amount})
df2 =pd.DataFrame(lst)
df2

    language  number of articles
0    English   6458000+ articles
1        日本語         1314000+ 記事
2    Español  1755000+ artículos
3    Русский     1798000+ статей
4   Français   2400000+ articles
5    Deutsch    2667000+ Artikel
6   Italiano       1742000+ voci
7         中文    1256000+ 条目 / 條目
8  Português    1085000+ artigos
9    العربية      1159000+ مقالة

#### A list with the different kind of datasets available in data.gov.uk

In [320]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [321]:
#your code 
html = requests.get(url).content
soup=bs(html, 'html.parser')

In [324]:
table= soup.find_all("a",class_ = "govuk-link")

In [331]:
table[4].text

'Business and economy'

In [333]:
lst = []
for i in range (4,len(table)):
    lst.append(table[i].text)
lst

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [339]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [390]:
#your code

html = requests.get(url).content
soup=bs(html, 'html.parser')
pop = soup.find_all("tbody")[0]("td")
pop[0].text.replace("\n","")

lst1 = []
lst2 = []
for i in range(0,37,4):
    lst1.append(pop[i].text.replace("\n",""))
for i in range (1,38,4):
    lst2.append(pop[i].text.replace("\n",""))

res = {}    
for key in lst1:
    for value in lst2 :
        res[key] = value
res
    
df3 = pd.DataFrame()

In [393]:
df3["paises"] = lst1
df3["poblacion"] = lst2

In [394]:
df3

                                              paises poblacion
0  Mandarin Chinese(incl. Standard Chinese, but e...       920
1                                            Spanish       475
2                                            English       373
3                                  Hindi(excl. Urdu)       344
4                                            Bengali       234
5                                         Portuguese       232
6                                            Russian       154
7                                           Japanese       125
8                       Yue Chinese(incl. Cantonese)      85.2
9                                         Vietnamese      84.6

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [395]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [406]:
# your code
html = requests.get(url).content
soup=bs(html, 'html.parser')
table = soup.find_all("tbody",class_ = "lister-list")[0]

In [474]:
table("a")[1].text #empezando en 1 saltos de 2

'Cadena perpetua'

In [476]:
len(table("span"))

1750

In [472]:
table("span")[5].text.replace("(","").replace(")","")

'1994'

In [434]:
table("span")[5] #empezando en 5 saltos de 7

In [455]:
if2 = str(table("a")[1])
if2

'<a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Cadena perpetua</a>'

In [469]:
mk1 = if2.find("title=") +7
mk1 
mk2 = if2.find('">')
mk2 
sub = if2[mk1:mk2]
sub

'Frank Darabont (dir.), Tim Robbins, Morgan Freeman'

In [483]:
lst1 = []
lst2 = []
lst3 = []
for i in range(1,501,2):
    lst1.append(table("a")[i].text)

for i in range (5,1755,7):
    lst2.append(table("span")[i].text.replace("(","").replace(")",""))
for i in range(1,501,2):
    if2 = str(table("a")[i])
    mk2 = if2.find('">')
    mk1 = if2.find("title=") +7
    lst3.append(if2[mk1:mk2])

    
    

df4 = pd.DataFrame()
df4["movie name"] = lst1
df4["Initial Release"] = lst2
df4["Director and actors"] = lst3

In [484]:
df4

,movie name,Initial Release,Director and actors
0,Cadena perpetua,1994,"Frank Darabont (dir.), Tim Robbins, Morgan Fre..."
1,El padrino,1972,"Francis Ford Coppola (dir.), Marlon Brando, Al..."
2,El caballero oscuro,2008,"Christopher Nolan (dir.), Christian Bale, Heat..."
3,El padrino (parte II),1974,"Francis Ford Coppola (dir.), Al Pacino, Robert..."
4,12 hombres sin piedad,1957,"Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb"
...,...,...,...
245,Dersu Uzala (El cazador),1975,"Akira Kurosawa (dir.), Maksim Munzuk, Yuriy So..."
246,Aladdín,1992,"Ron Clements (dir.), Scott Weinger, Robin Will..."
247,Criadas y señoras,2011,"Tate Taylor (dir.), Viola Davis, Emma Stone"
248,Gandhi,1982,"Richard Attenborough (dir.), Ben Kingsley, Joh..."
249,El gigante de hierro,1999,"Brad Bird (dir.), Eli Marienthal, Harry Connic..."

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code