# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
%pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\nonito\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\nonito\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [3]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [4]:
html=req.get(url).text

sopa=bs(html, 'html.parser')

In [5]:
#sopa

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [6]:
trend=sopa.find_all('article', class_='Box-row d-flex')

In [841]:
#trend

In [8]:
trend=trend[0].find('h1', class_='h3 lh-condensed')

In [9]:
trend.text.strip()

'Emil Ernerfeldt'

In [10]:
def encontrar(web):
    
    url=web
    
    html=req.get(url).content

    sopa=bs(html, 'html.parser')
    
    trend=sopa.find_all('h1', class_='h3 lh-condensed')
    
    names=[e.text.strip() for e in trend]
    
    return names

In [11]:
encontrar('https://github.com/trending/developers')

['Emil Ernerfeldt',
 'Earle F. Philhower, III',
 'Nikita Sobolev',
 'Stephen Celis',
 'Justin Fagnani',
 'Manu MA',
 'Joshua',
 'Simon H',
 'Marcus Olsson',
 'Ben V. Brown',
 'Jonny Borges',
 'Andrew Kane',
 'Wangchong Zhou',
 'Mislav Marohnić',
 'Matthias Fey',
 'Elliana May',
 'Romain Beaumont',
 'Hari Sekhon',
 'osy',
 'Adam Johnson',
 'Pedro Cuenca',
 'Alex Gaynor',
 'Henrik Rydgård',
 'Joshua Levy',
 'Mu Li']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [51]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [53]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

repo=sopa.find('article', class_='Box-row')

In [88]:
repos=repo.find('h1', class_='h3 lh-condensed').text.strip().replace('\n', '').replace(" ","")

In [89]:
repos

'bregman-arie/devops-exercises'

In [94]:
def repos(web):
    
    url=web
    
    html=req.get(url).content

    sopa=bs(html, 'html.parser')
    
    repo=sopa.find_all('h1', class_='h3 lh-condensed')
    
    repos=[e.text.strip().replace('\n', '').replace(" ","") for e in repo]
    
    return repos

In [95]:
repos('https://github.com/trending/python?since=daily')

['bregman-arie/devops-exercises',
 'public-apis/public-apis',
 'geohot/tinygrad',
 'mlflow/mlflow',
 'PaddlePaddle/PaddleDetection',
 'google/jax',
 'iterativv/NostalgiaForInfinity',
 'netbox-community/netbox',
 'tiangolo/typer',
 'streamlit/streamlit',
 'modelscope/modelscope',
 'LetusDevops/LearnPython',
 'nerfstudio-project/nerfstudio',
 'idanya/algo-trader',
 'heartexlabs/labelImg',
 'microsoft/pyright',
 'sqlmapproject/sqlmap',
 'unifyai/ivy',
 'crytic/slither',
 'ultralytics/yolov5',
 'home-assistant/core',
 'WeAreMahsaAmini/FreeInternet',
 'open-mmlab/mmocr',
 'Lightning-AI/lightning',
 'demisto/content']

#### Display all the image links from Walt Disney wikipedia page

In [100]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [145]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

img=sopa.find_all('div', class_='mw-body-content mw-content-ltr')

img=img[0].find_all('img')

img[0]

<img alt="Walt Disney 1946.JPG" data-file-height="675" data-file-width="450" decoding="async" height="330" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/330px-Walt_Disney_1946.JPG 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/440px-Walt_Disney_1946.JPG 2x" width="220"/>

In [148]:
img[0].attrs['src'].replace('//','')

'upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG'

In [156]:
def img(web):
    
    url=web
    
    html=req.get(url).content

    sopa=bs(html, 'html.parser')
    
    img=sopa.find_all('div', class_='mw-body-content mw-content-ltr')
    
    img=img[0].find_all('img')
    
    imgs=['http://'+e.attrs['src'].replace('//','') for e in img]
    
    return imgs

In [152]:
%pip install IPython

Requirement already satisfied: IPython in c:\users\nonito\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: stack-data in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (0.2.0)
Requirement already satisfied: decorator in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (3.0.20)
Requirement already satisfied: colorama in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (0.4.4)
Requirement already satisfied: backcall in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (61.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (0.1.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\nonito\anaconda3\lib\site-packages (from IPython) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\nonito\anaconda3\lib\site-packages (from jedi>=0.16->IPython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\nonito\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->IPython) (0.2.5)
Requirement already satisfied: pure-eval in c:\users\nonito\anaconda3\lib\site-packages (from stack-data->IPython) (0.2.2)
Requirement already satisfied: executing in c:\users\nonito\anaconda3\lib\site-packages (from stack-data->IPython) (0.8.3)
Requirement already satisfied: asttokens in c:\users\nonito\anaconda3\lib\site-packages (from stack-data->IPython) (2.0.5)
Requirement already satisfied: six in c:\users\nonito\anaconda3\lib\site-packages (from asttokens->stack-data->IPython) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [842]:
from IPython.display import Image

"""for i in img('https://en.wikipedia.org/wiki/Walt_Disney'):
    print(i)
    display(Image(url=i))"""

"for i in img('https://en.wikipedia.org/wiki/Walt_Disney'):\n    print(i)\n    display(Image(url=i))"

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [830]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [831]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

In [840]:
python=[]
for a in sopa.find_all('a', href=True):
    python.append(a['href'])

py=[]
for i in python:
    if "/wiki/" in i:
        py.append(i)

In [843]:
#Sigo sin saber sacar de los enlaces las cosas :'(

#### Number of Titles that have changed in the United States Code since its last release point

In [349]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [388]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

titles=sopa.find_all('div', class_='usctitlechanged')

titlesc=[]
for i in titles:
    titlesc.append(i.text.replace("\n","").replace("  ","").replace('٭"',"").replace("٭",""))

titlesc

['Title 17 - Copyrights ',
 'Title 22 - Foreign Relations and Intercourse',
 "Title 38 - Veterans' Benefits ",
 'Title 40 - Public Buildings, Property, and Works ',
 'Title 41 - Public Contracts ',
 'Title 42 - The Public Health and Welfare',
 'Title 44 - Public Printing and Documents ',
 'Title 49 - Transportation ',
 'Title 54 - National Park Service and Related Programs ']

#### A Python list with the top ten FBI's Most Wanted names

In [389]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [420]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

top=sopa.find_all('div', class_='mosaic-grid-cell mosaic-width-full mosaic-position-leftmost col-md-12')

top10=top[1].find_all('a', href=True)

mostw=[]
for i in top10:
    mostw.append(i.text.replace("\n",""))

mostwanted = list(filter(None, mostw))

mostwanted

['OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'RAFAEL CARO-QUINTERO']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [806]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [844]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

emsc1=sopa.find_all('tbody', id="tbody")

In [808]:
time=emsc1[0].find_all('td', class_='tabev6')

In [809]:
date=[]
for i in time:
    date.append(i.text.replace("earthquake","").replace("\xa0","*").split(".")[0])

date

dates=[]
for i in date:
    dates.append(i.split("***")[0])
times=[]
for i in date:
    times.append(i.split("***")[1])

In [810]:
la=emsc1[0].find_all('td', class_='tabev1')

latalt=[]
for i in la:
    latalt.append(i.text.replace("\xa0",""))

latitude = []
longitude = []
for i in range(0, len(latalt)):
    if i % 2:
        longitude.append(latalt[i])
    else :
        latitude.append(latalt[i])

In [815]:
la=emsc1[0].find_all('td', class_='tabev2')

latalt2=[]
for i in la:
    latalt2.append(i.text.replace("\xa0",""))

latlong=[]
for i in latalt2:
    if i == 'N':
        latlong.append(i)
    if i == 'S':
        latlong.append(i)
    if i == 'W':
        latlong.append(i)
    if i == 'E':
        latlong.append(i) 
        
latitude2 = []
longitude2 = []
for i in range(0, len(latlong)):
    if i % 2:
        longitude2.append(latlong[i])
    else :
        latitude2.append(latlong[i])

In [823]:
reg=emsc1[0].find_all('td', class_="tb_region")

region=[]
for i in reg:
    region.append(i.text.replace("\xa0",""))

In [828]:
d = {'date': dates, 'time': times, 'latitude': latitude, 'orientation_lat': latitude2, 'longitude': longitude, 'orientation_long': longitude2, 'region_name': region}
earthq = pd.DataFrame(data=d)

earthq.head()

,date,time,latitude,orientation_lat,longitude,orientation_long,region_name
0,2022-11-08,20:18:35,19.45,N,155.59,W,"ISLAND OF HAWAII, HAWAII"
1,2022-11-08,20:08:00,11.12,S,117.79,E,"SOUTH OF SUMBAWA, INDONESIA"
2,2022-11-08,20:01:28,9.24,S,119.62,E,"SUMBA REGION, INDONESIA"
3,2022-11-08,19:55:58,15.87,N,97.65,W,"OFFSHORE OAXACA, MEXICO"
4,2022-11-08,19:54:31,22.79,S,68.84,W,"ANTOFAGASTA, CHILE"

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [25]:
# This is the url you will scrape in this exercise
#url ='https://hackevents.co/hackathons'

In [26]:
#este no podíamos hacerle

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [459]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/bendelacreme'

In [460]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

tweets=sopa.find_all('div', dir="auto")

tweets[0].text

'Something went wrong, but don’t fret — let’s give it another shot.'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [461]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/AdoreDelano'

In [463]:
html=req.get(url).content

sopa=bs(html, 'html.parser')


follow=sopa.find_all('span', class_="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0")

follow[0].text

'Something went wrong, but don’t fret — let’s give it another shot.'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [464]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [470]:
html=req.get(url).content

sopa=bs(html, 'html.parser')


lang=sopa.find_all('div', class_="central-featured")

langs=lang[0].find_all('strong')

langwiki=[]
for i in langs:
    langwiki.append(i.text)
langwiki

['English',
 '日本語',
 'Español',
 'Русский',
 'Français',
 'Deutsch',
 'Italiano',
 '中文',
 'Português',
 'العربية']

#### A list with the different kind of datasets available in data.gov.uk

In [847]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [848]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

gov=sopa.find_all('p', class_="govuk-body")

govs=gov[1:]

govt=[]
for i in govs:
    govt.append(i.text)
govt

['Small businesses, industry, imports, exports and trade',
 'Courts, police, prison, offenders, borders and immigration',
 'Armed forces, health and safety, search and rescue',
 'Students, training, qualifications and the National Curriculum',
 'Weather, flooding, rivers, air quality, geology and agriculture',
 'Staff numbers and pay, local councillors and department business plans',
 'Includes all payments by government departments over £25,000',
 'Includes smoking, drugs, alcohol, medicine performance and hospitals',
 'Addresses, boundaries, land ownership, aerial photographs, seabed and land terrain',
 'Employment, benefits, household finances, poverty and population',
 'Includes housing, urban planning, leisure, waste and energy, consumption',
 'Airports, roads, freight, electric vehicles, parking, buses and footpaths',
 'Cost, usage, completion rate, digital take-up, satisfaction',
 'Trusted data that is referenced and shared across government departments']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [504]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [533]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

topl=sopa.find_all('tbody')

topla=topl[0].find_all('a', class_="mw-redirect")
topla

toplan=[]

for i in topla:
    toplan.append(i.text)

toplanf=toplan[0:10]

toplanf

['Mandarin Chinese',
 'Spanish',
 'English',
 'Hindi',
 'Bengali',
 'Portuguese',
 'Russian',
 'Japanese',
 'Yue Chinese',
 'Vietnamese']

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [691]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/janjanjan'

In [693]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

tuit=sopa.find_all('span', class_="css-901oao css-16my406 r-poiln3 r-bcqeeo r-qvutc0")

tuit[0].text

'Something went wrong, but don’t fret — let’s give it another shot.'

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [534]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [536]:
import pandas as pd

In [689]:
html=req.get(url).content

sopa=bs(html, 'html.parser')

lst=sopa.find_all('div', class_="seen-collection")

lst2=lst[0].find_all('tbody', class_="lister-list")

In [684]:
rat=lst2[0].find_all('strong')

rating=[]
for i in rat:
    rating.append(i.text)

#print(rating)

In [685]:
mov=lst2[0].find_all('a', href=True)

movie=[]
for i in dir:
    movie.append(i.text.replace(" \n",""))

movies = list(filter(None, movie))

#print(movies)

In [686]:
release=lst2[0].find_all('span', class_="secondaryInfo")

reldate=[]
for i in release:
    reldate.append(i.text.replace("(","").replace(")",""))
#print(reldate)

In [687]:
d = {'movies': movies, 'release_year': reldate, 'rating': rating}
top250 = pd.DataFrame(data=d)

top250.head()

                  movies release_year rating
0        Cadena perpetua         1994    9.2
1             El padrino         1972    9.2
2    El caballero oscuro         2008    9.0
3  El padrino (parte II)         1974    9.0
4  12 hombres sin piedad         1957    9.0

In [683]:
#mira no se cómo sacar el director del enlace, qué tortura

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [41]:
#This is the url you will scrape in this exercise
#url = 'http://www.imdb.com/chart/top'

In [42]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [688]:
#https://openweathermap.org/current
#city = city=input('Enter the city:')
#url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
#url = 'http://books.toscrape.com/'

In [ ]:
#your code